html, body {
  margin: 0;
  padding: 0;
  
  justify-content: center;
  align-items: center;
}

body{
  overflow:hidden;
  background-image: url("cloudy-day.png");
  background-repeat: repeat;
}

canvas {
  display: block;
}

  .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); 
  background-color: #fafa6e; 
  color: #cc3834; 
  border: 4px solid #cc3834;
  z-index: 10;
  width: 50%;
  height: 15%;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 200%;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #cc3834;
  color:  #fafa6e;
}

.button1{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}

.button2{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
}

.button3{
  display: none;
}


.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("cloudy-day.png");
  background-repeat: repeat;
  z-index: 998;
  visibility: visible;
}

.loader{
  z-index: 999;
  width: 40px;
  height: 40px;
  border: 10px solid red;
  border-radius: 50%;
  border-top-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 1s spin infinite linear;
  visibility: visible;
}

@keyframes spin{
  from{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  from{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
